@import "compass/css3";
@import "settings";
@import "normalize";
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

$app-color: #66bfbb;

.hero {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;

	.header-img {
	width: 100%;
	position: fixed;
	z-index: -1;
}

	.logo-hover {
		background: rgba(#000, 0.65);
		padding: 1.5em;
		@include border-radius(5px);
		
		img {
			width: 100%;
		}

		h1 {
			font-size: 4em;
			font-weight: 400;
			text-align: center;
			color: #ddd;
			margin: 0;
		}
		h3 {
			font-weight: 300;
			text-align: center;
			color: #ddd;
			margin: 0;
		}
	}

}

.content {
	min-height: 400px;
	background: rgba(#000, 0.65);
	position: relative;
	z-index: 1;
	
	h1, h2, h3, h4, h5, h6, p {
		font-weight: 300;
		color: #ddd;
	}

	.row {
		padding: 50px 0;
	}


}

ul.features {
	list-style: none;

	li {
		border: 2px solid #ddd;
		@include border-radius(5px);
		padding: 0.5em;
		margin: 0.5em auto;

		h3, p {
			margin: 0;
		}
	}
}

ul.team {
	img {
		@include border-radius(50%);
	}
	h4, h6 {
		text-align: center;
	}
}
